/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
    overflow: auto;
}

/* Reseting */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../aset/bg2.jpg");
    background-size: 100% 100%;
}

.wrapper {
    position: relative; top: 5px;
    max-width: 350px;
    min-height: 450px;
    margin: 80px auto;
    padding: 40px 17px 25px 17px;
    background-color: #f9f6ee;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #6d6f6c, -13px -13px 20px #6d6f6c;
}

.wrapper-register {
    position: relative; top: 22px;
    max-width: 350px;
    min-height: 550px;
    margin: 23px auto;
    padding: 10px 30px 20px 30px;
    background-color: #f9f6ee;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #6d6f6c, -13px -13px 20px #6d6f6c;
}

.logo {
    width: 80px;
    margin: auto;
}
.logo-register {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}
.logo-register img {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}
.wrapper-register .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
    
}
.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #000000;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}
.wrapper-register .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #000000;
    padding: 5px 5px 5px 5px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.wrapper-register .form-field {
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}
.wrapper-register .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #0d7200;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}
.wrapper-register .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #0d7200;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}


.wrapper .btn:hover {
    background-color: #1abb04;
}
.wrapper-register .btn:hover {
    background-color: #1abb04;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}
.wrapper-register a {
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}
.wrapper a:hover {
    color: #039BE5;
}
.wrapper-register a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
@media(max-width: 380px) {
    .wrapper-register {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}